<div>
  <h3>Hi {{username}}</h3>
  <h4>
    We received a request to reset the password on your E-shop Account.
    <br />
    <br />
    <p>{{code}}</p>
    <br />
    <br />
    Enter this code to complete the reset.
    <br />
    Thanks for helping us keep your account secure.<br />
    <br />
    <br />
    <br />
    The E-shop Team
  </h4>
</div>