<div>
  <h3>Hi {{username}}</h3>
  <h4>
    We received a request to reset the password on your S-media Account.
    <br />
    <br />
    <p>{{code}}</p>
    <br />
    <br />
    Enter this code to complete the reset.
    <br />
    Thanks for helping us keep your account secure.<br />
    <br />
    <br />
    <br />
    The S-media Team
  </h4>
</div>